 <nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <li class="nav-item has-treeview menu-open">
      <a href="#" class="nav-link active">
        <i class="nav-icon fas fa-th"></i>
        <p>Организации</p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="/admin/organizations" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Просмотр</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/organizations/add" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Добавление</p>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item has-treeview menu-open">
      <a href="#" class="nav-link active">
        <i class="nav-icon fas fa-th"></i>
        <p>Афиша</p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="/admin/afisha" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Просмотр</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/afisha/add" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Добавление</p>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item has-treeview menu-open">
      <a href="#" class="nav-link active">
        <i class="nav-icon fas fa-th"></i>
        <p>Турагенство</p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="/admin/tour_agent" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Просмотр</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/tour_agent/update" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>редактирование</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/tour_agent/agents" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>агенства</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/tour_agent/agents-add" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Добавить тур. агентсво</p>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item has-treeview">
      <a href="#" class="nav-link active">
        <i class="nav-icon fas fa-th"></i>
        <p>Услуги</p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="/admin/services" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Просмотр</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/services/add" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Добавление</p>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item has-treeview">
      <a href="#" class="nav-link active">
        <i class="nav-icon fas fa-th"></i>
        <p>Банкоматы</p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="/admin/banks" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Просмотр</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/banks/add" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Добавление</p>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a href="/admin/cafe" class="nav-link active">
        <i class="nav-icon fas fa-th"></i>
        <p>Кафе</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="/admin/pharmacy" class="nav-link active">
        <i class="nav-icon fas fa-th"></i>
        <p>Аптечный пункт</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="/admin/photo" class="nav-link active">
        <i class="nav-icon fas fa-th"></i>
        <p>фото и полиграфия</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="/admin/minimarket" class="nav-link active">
        <i class="nav-icon fas fa-th"></i>
        <p>Минимаркет</p>
      </a>
    </li>
  </ul>
</nav>