<ul  id="keyboard">
    <li class="line">
        <div class="line__item line-1">
            <div class="k_content symbol">
                <span class="off">`</span><span class="on">~</span>
            </div>
        </div>
        <div class="line__item line-1">
            <div class="k_content symbol">
                <span class="off">1</span><span class="on">!</span>
            </div>
        </div>
        <div class="line__item line-1">
            <div class="k_content symbol">
                <span class="off">2</span><span class="on">@</span>
            </div>
        </div>
        <div class="line__item line-1">
            <div class="k_content symbol">
                <span class="off">3</span><span class="on">#</span>
            </div>
        </div>
        <div class="line__item line-1">
            <div class="k_content symbol">
                <span class="off">4</span><span class="on">$</span>
            </div>
        </div>
        <div class="line__item line-1">
            <div class="k_content symbol">
                <span class="off">5</span><span class="on">%</span>
            </div>
        </div>
        <div class="line__item line-1">
            <div class="k_content symbol">
                <span class="off">6</span><span class="on">^</span>
            </div>
        </div>
        <div class="line__item line-1">
            <div class="k_content symbol">
                <span class="off">7</span><span class="on">&amp;</span>
            </div>
        </div>
        <div class="line__item line-1">
            <div class="k_content symbol">
                <span class="off">8</span><span class="on">*</span>
            </div>
        </div>
        <div class="line__item line-1">
            <div class="k_content symbol">
                <span class="off">9</span><span class="on">(</span>
            </div>
        </div>
        <div class="line__item line-1">
            <div class="k_content symbol">
                <span class="off">0</span><span class="on">)</span>
            </div>
        </div>
        <div class="line__item line-1">
            <div class="k_content symbol">
                <span class="off">-</span><span class="on">_</span>
            </div>
        </div>
        <div class="line__item line-1">
            <div class="k_content symbol">
                <span class="off">=</span><span class="on">+</span>
            </div>
        </div>
        
        <div class="line__item line-2">
            <div class="k_content delete">
                <span class="lastitem">delete</span>
            </div>
        </div>
    </li>

    <li class="line">
        <div class="line__item line-2">
            <div class="k_content tab">tab</div>
        </div>
        <div class="line__item line-1">
            <div class="k_content letter">q</div>
        </div>
        <div class="line__item line-1">
            <div class="k_content letter">w</div>
        </div>
        <div class="line__item line-1">
            <div class="k_content letter">e</div>
        </div>
        <div class="line__item line-1">
            <div class="k_content letter">r</div>
        </div>
        <div class="line__item line-1">
            <div class="k_content letter">t</div>
        </div>
        <div class="line__item line-1">
            <div class="k_content letter">y</div>
        </div>
        <div class="line__item line-1">
            <div class="k_content letter">u</div>
        </div>
        <div class="line__item line-1">
            <div class="k_content letter">i</div>
        </div>
        <div class="line__item line-1">
            <div class="k_content letter">o</div>
        </div>
        <div class="line__item line-1">
            <div class="k_content letter">p</div>
        </div>
        <div class="line__item line-1">
            <div class="k_content symbol">
                <span class="off">[</span><span class="on">{</span>
            </div>
        </div>
        <div class="line__item line-1">
            <div class="k_content symbol">
                <span class="off">]</span><span class="on">}</span>
            </div>
        </div>
        <div class="line__item line-1">
            <div class="k_content symbol lastitem">
                <span class="off">\</span><span class="on">|</span>
            </div>
        </div>
    </li>

    <li class="line">
        <div class="line__item line-2">
            <div class="k_content capslock">Caps Lock</div>
        </div>
        <div class="line__item line-1">
            <div class="k_content letter">a</div>
        </div>
        <div class="line__item line-1">
            <div class="k_content letter">s</div>
        </div>
        <div class="line__item line-1">
            <div class="k_content letter">d</div>
        </div>
        <div class="line__item line-1">
            <div class="k_content letter">f</div>
        </div>
        <div class="line__item line-1">
            <div class="k_content letter">g</div>
        </div>
        <div class="line__item line-1">
            <div class="k_content letter">h</div>
        </div>
        <div class="line__item line-1">
            <div class="k_content letter">j</div>
        </div>
        <div class="line__item line-1">
            <div class="k_content letter">k</div>
        </div>
        <div class="line__item line-1">
            <div class="k_content letter">l</div>
        </div>

        <div class="line__item line-1">
            <div class="k_content symbol">
                <span class="off">;</span><span class="on">:</span>
            </div>
        </div>
        <div class="line__item line-1">
            <div class="k_content symbol">
                <span class="off">'</span><span class="on">&quot;</span>
            </div>
        </div>
        <div class="line__item line-2">
            <div class="k_content enter">Enter</div>
        </div>
    </li>

    <li class="line">
        <div class="line__item line-2">
            <div class="k_content shift">Shift</div>
        </div>
        <div class="line__item line-1">
            <div class="k_content letter">z</div>
        </div>
        <div class="line__item line-1">
            <div class="k_content letter">x</div>
        </div>
        <div class="line__item line-1">
            <div class="k_content letter">c</div>
        </div>
        <div class="line__item line-1">
            <div class="k_content letter">v</div>
        </div>
        <div class="line__item line-1">
            <div class="k_content letter">b</div>
        </div>
        <div class="line__item line-1">
            <div class="k_content letter">n</div>
        </div>
        <div class="line__item line-1">
            <div class="k_content letter">m</div>
        </div>

        <div class="line__item line-1">
            <div class="k_content symbol">
                <span class="off">,</span><span class="on">&lt;</span>
            </div>
        </div>

        <div class="line__item line-1">
            <div class="k_content symbol">
                <span class="off">.</span><span class="on">&gt;</span>
            </div>
        </div>

        <div class="line__item line-1">
            <div class="k_content symbol">
                <span class="off">/</span><span class="on">?</span>
            </div>
        </div>

        <div class="line__item line-2">
            <div class="k_content shift">shift</div>
        </div>
    </li>

    <li class="line">
        <div class="line__item line-3">
            <div class="k_content space">SPACE</div>
        </div>
    </li>
</ul>