<div class="center">
	<div class="top__menu {{menuElement}}">
		<div class="main-menu__block m_organization">
			<a href="/organizations" class="block__content">
				<img src="../static/images/img-5.svg" class="main-menu-icon">
				<p class="main-menu__text">Организации</p>
			</a>
		</div>
		<div class="main-menu__block m_services">
			<a href="/services" class="block__content">
				<img src="../static/images/img-8.svg" class="main-menu-icon">
				<p class="main-menu__text">Услуги</p>
			</a>
		</div>
		<div class="main-menu__block m_concert_zal">
			<a href="/afisha" class="block__content">
				<img src="../static/images/img-9.svg" class="main-menu-icon">
				<p class="main-menu__text">Концертный зал</p>
			</a>
		</div>
		<div class="main-menu__block m_kafe">
			<a href="/kafe" class="block__content">
				<img src="../static/images/img-10.svg" class="main-menu-icon">
				<p class="main-menu__text">Кафе</p>
			</a>
		</div>
		<div class="main-menu__block m_bankomat">
			<a href="/banks" class="block__content">
				<img src="../static/images/img-11.svg" class="main-menu-icon">
				<p class="main-menu__text">Банкоматы</p>
			</a>
		</div>
		<div class="main-menu__block m_tour_agent">
			<a href="/tour_agent" class="block__content">
				<img src="../static/images/img-12.svg" class="main-menu-icon">
				<p class="main-menu__text">Туристическое агенство</p>
			</a>
		</div>
		<div class="main-menu__block m_photo">
			<a href="/photo" class="block__content">
				<img src="../static/images/img-14.svg" class="main-menu-icon">
				<p class="main-menu__text">Фото и полиграфия</p>
			</a>
		</div>
		<div class="main-menu__block m_minimarket">
			<a href="/minimarket" class="block__content">
				<img src="../static/images/img-15.svg" class="main-menu-icon">
				<p class="main-menu__text">Минимаркет</p>
			</a>
		</div>
		<div class="main-menu__block m_pharmacy">
			<a href="/pharmacy" class="block__content">
				<img src="../static/images/img-16.svg" class="main-menu-icon">
				<p class="main-menu__text">Аптечный пункт</p>
			</a>
		</div>
	</div>
</div>