<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
	<div class="wraper">
		
		<div class="container">
			{% include "layouts/top_menu.html" %}
		
			{% include "layouts/big_blue_line.html" %}

			<div class="center">
				<div class="content-black posts-single">
					<h2 class="posts-single__title">{{ data.title }}</h2>
					<div class="b-posts__info">
						<span class="info-calendar">{{ data.date }}</span>
						<span class="info-time">{{ data.time }}</span>
						<span class="info-stage">{{ data.address }}</span>
					</div>
					<div class="posts-single__text">{{ data.text }}</div>
					<div class="posts-signle__image"><img src="../{{ data.img }}" alt=""></div>
					<!-- <div class="posts-signle__image"><img src="../static/images/afisha.png" alt=""></div> -->
				</div>
			</div>
		</div>



		{% include "layouts/footer.html" %}
	</div>

	<div class="black__bg"></div>

    <script src="../static/js/app.js"></script>
</body>
</html>