<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

	<link rel="stylesheet" href="static/css/swiper.css">
	<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
	<div class="wraper">
		
		<div class="container">
			{% include "layouts/top_menu.html" %}
		
			{% include "layouts/big_blue_line.html" %}

			<div class="center posts">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<!-- 1 слайд -->
						<div class="swiper-slide">
							
							<div class="posts__block">
								<div class="b-posts__image">
									<img src="static/images/woman.png" alt="" class="posts__image">
								</div>

								<div class="b-posts__content">
									<div class="b-posts__title">Концерт для ложечников и баяна №2</div>
									<div class="b-posts__info">
										<span class="info-calendar">22.02.12</span>
										<span class="info-time">13:00</span>
										<span class="info-stage">Большой концертный зал</span>
									</div>
									<div class="b-posts__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem fuga tempore corrupti sint vel. Voluptatibus voluptas molestiae alias nostrum aut, nulla. Quae enim numquam illo totam, vel aspernatur at eius.</div>
									<div class="b-posts__watch-preview">Подробнее..</div>
								</div>
							</div>

							<div class="posts__block">
								<div class="b-posts__image">
									<img src="static/images/woman.png" alt="" class="posts__image">
								</div>

								<div class="b-posts__content">
									<div class="b-posts__title">Концерт для ложечников и баяна №2</div>
									<div class="b-posts__info">
										<span class="info-time">Круглосуточно</span>
										<span class="info-stage">Большой концертный зал</span>
									</div>
									<div class="b-posts__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem fuga tempore corrupti sint vel. Voluptatibus voluptas molestiae alias nostrum aut, nulla. Quae enim numquam illo totam, vel aspernatur at eius.</div>
									<div class="b-posts__watch-preview">Подробнее..</div>
								</div>
							</div>

							<div class="posts__block">
								<div class="b-posts__image">
									<img src="static/images/woman.png" alt="" class="posts__image">
								</div>

								<div class="b-posts__content">
									<div class="b-posts__title">Концерт для ложечников и баяна №2</div>
									<div class="b-posts__info">
										<span class="info-calendar">22.02.12</span>
										<span class="info-time">13:00</span>
										<span class="info-stage">Большой концертный зал</span>
									</div>
									<div class="b-posts__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem fuga tempore corrupti sint vel. Voluptatibus voluptas molestiae alias nostrum aut, nulla. Quae enim numquam illo totam, vel aspernatur at eius.</div>
									<div class="b-posts__watch-preview">Подробнее..</div>
								</div>
							</div>

							<div class="posts__block">
								<div class="b-posts__image">
									<img src="static/images/woman.png" alt="" class="posts__image">
								</div>

								<div class="b-posts__content">
									<div class="b-posts__title">Концерт для ложечников и баяна №2</div>
									<div class="b-posts__info">
										<span class="info-calendar">22.02.12</span>
										<span class="info-time">13:00</span>
										<span class="info-stage">Большой концертный зал</span>
									</div>
									<div class="b-posts__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem fuga tempore corrupti sint vel. Voluptatibus voluptas molestiae alias nostrum aut, nulla. Quae enim numquam illo totam, vel aspernatur at eius.</div>
									<div class="b-posts__watch-preview">Подробнее..</div>
								</div>
							</div>

						</div> <!-- 1 слайд -->
					</div>

				    <div class="swiper-button-prev"></div>
				    <div class="swiper-button-next"></div>
				</div>
			</div>
		</div>



		{% include "layouts/footer.html" %}
	</div>

	<div class="black__bg"></div>

    <script src="static/js/app.js"></script>


    <!-- Swiper JS -->
  	<script src="static/js/swiper.min.js"></script>
</body>
</html>