<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

	<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
	<div class="wraper">
		
		<div class="container">
			{% include "layouts/top_menu.html" %}
		
			{% include "layouts/big_blue_line.html" %}

			<div class="center">
				<div class="content-black posts-single">
					<h2 class="posts-single__title">Концерт для ложечников баяна</h2>
					<div class="b-posts__info">
						<span class="info-calendar">22.02.12</span>
						<span class="info-time">13:00</span>
						<span class="info-stage">Большой концертный зал</span>
					</div>
					<div class="posts-single__text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore odit at impedit corporis, deserunt, totam velit architecto exercitationem enim similique quia expedita, fugit quam praesentium accusantium! Earum velit mollitia fuga minus quae quaerat at cumque nobis adipisci commodi est aliquid quis reprehenderit animi veniam, architecto nemo doloribus illo harum! Distinctio sit iure mollitia consequuntur libero! Ex, minus ducimus. Temporibus obcaecati quibusdam cupiditate, quasi impedit nostrum dolores ab laborum odit excepturi, recusandae voluptas, quisquam tenetur blanditiis est nesciunt tempora ipsa inventore necessitatibus. Earum suscipit sapiente, velit cum quis, ratione maxime minus dignissimos alias unde! Quae excepturi, sapiente ipsum vitae voluptatibus vero?
					</div>
					<div class="posts-signle__image"><img src="static/images/afisha.png" alt=""></div>
				</div>
			</div>
		</div>



		{% include "layouts/footer.html" %}
	</div>

	<div class="black__bg"></div>

    <script src="static/js/app.js"></script>
</body>
</html>