<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

	<!-- <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css"> -->
	<link rel="stylesheet" href="static/css/swiper.css">
	<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
	<div class="wraper">
		
		<div class="container">
			{% include "layouts/top_menu.html" %}
		
			{% include "layouts/big_blue_line.html" %}
			

			<div class="center sw-organization">
				<div class="swiper-container">
					<div class="swiper-wrapper"></div>

				    <div class="swiper-button-prev"></div>
				    <div class="swiper-button-next"></div>
				</div>
			</div>
		</div>



		{% include "layouts/footer.html" %}
		{% include "layouts/keyboard.html" %}

	</div>

	<div class="black__bg"></div>

    <script src="static/js/klava.js"></script>
    <script src="static/js/app.js"></script>


    <!-- Swiper JS -->
  	<!-- <script src="https://unpkg.com/swiper/js/swiper.js"></script> -->
  	<script src="static/js/swiper.min.js"></script>
</body>
</html>