<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="static/css/style.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
</head>
<body>
	<div class="wraper">
		
		<div class="container main-page">
			<div class="center main-banner">
				
				<div class="header">
					<img src="static/images/banner/b1.png" alt="">
				</div>
					
			</div>

			<div class="center">
				<div class="blue-line">
					<div class="blue-line__desc">
						<p class="line-desc__text">
							<span>12:37</span>
							22 Февраля 2020
						</p>
					</div>

					{% if search %}
					    <div class="blue-line__search">
							<input type="text" class="line__search" placeholder="Поиск" id="klava">
						</div>
				    {% endif %}

				</div>
			</div>

			<div class="center">
				<div class="main__menu">
					<div class="main-menu__block">
						<a href="/organizations" class="block__content">
							<img src="static/images/img-5.svg" class="main-menu-icon">
							<p class="main-menu__text">Организации</p>
						</a>
					</div>
					<div class="main-menu__block">
						<a href="/services" class="block__content">
							<img src="static/images/img-8.svg" class="main-menu-icon">
							<p class="main-menu__text">Услуги</p>
						</a>
					</div>
					<div class="main-menu__block">
						<a href="/afisha" class="block__content">
							<img src="static/images/img-9.svg" class="main-menu-icon">
							<p class="main-menu__text">Концертный зал</p>
						</a>
					</div>
					<div class="main-menu__block">
						<a href="/kafe" class="block__content">
							<img src="static/images/img-10.svg" class="main-menu-icon">
							<p class="main-menu__text">Кафе</p>
						</a>
					</div>
					<div class="main-menu__block">
						<a href="/banks" class="block__content">
							<img src="static/images/img-11.svg" class="main-menu-icon">
							<p class="main-menu__text">Банкоматы</p>
						</a>
					</div>
					<div class="main-menu__block">
						<a href="/tour_agent" class="block__content">
							<img src="static/images/img-12.svg" class="main-menu-icon">
							<p class="main-menu__text">Туристическое агенство</p>
						</a>
					</div>
					<div class="main-menu__block">
						<a href="photo" class="block__content">
							<img src="static/images/img-14.svg" class="main-menu-icon">
							<p class="main-menu__text">Фото и полиграфия</p>
						</a>
					</div>
					<div class="main-menu__block">
						<a href="minimarket" class="block__content">
							<img src="static/images/img-15.svg" class="main-menu-icon">
							<p class="main-menu__text">Минимаркет</p>
						</a>
					</div>
					<div class="main-menu__block">
						<a href="pharmacy" class="block__content">
							<img src="static/images/img-16.svg" class="main-menu-icon">
							<p class="main-menu__text">Аптечный пункт</p>
						</a>
					</div>
				</div>
			</div>
		</div>


		{% include "layouts/footer.html" %}
		{% include "layouts/keyboard.html" %}
	</div>

	<div class="black__bg"></div>

    <script src="static/js/klava.js"></script>
    <script src="static/js/app.js"></script>

</body>
</html>