<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

	<link rel="stylesheet" href="static/css/swiper.css">
	<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
	<div class="wraper">
		
		<div class="container">
			{% include "layouts/top_menu.html" %}
		
			{% include "layouts/big_blue_line.html" %}

			<div class="center posts-white">
				<div class="tours-logo">
					<img src="static/images/travel-logo.svg" alt="">
				</div>

				<div class="swiper-container">
					<div class="swiper-wrapper">
						<!-- 1 слайд -->
						
						{% for slide in data %}
							<div class="swiper-slide">
								
								{% for post in slide %}
									<a href="/tour_agent/{{post.id}}">
										<div class="posts__block">
											<div class="b-posts__image">
												<img src="{{ post.img }}" alt="" class="posts__image">
											</div>

											<div class="b-posts__content">
												<div class="b-posts__title">{{ post.title }}</div>
												<div class="b-posts__info">
													<span class="info-calendar">22.02.12 - 22.02.12</span>
												</div>
												<div class="b-posts__text">{{ post.text }}
												</div>

												<div class="b-posts__more-title">{{ post.note }}</div>

												<div class="post-barcode"><img src="{{ post.barcode }}" alt=""></div>
											</div>
										</div>
									</a>
								{% endfor %}

							</div> <!-- 1 слайд -->
						{% endfor %}
					</div>

				    <div class="swiper-button-prev"></div>
				    <div class="swiper-button-next"></div>
				</div>
			</div>
		</div>



		<div class="footer">
			<div class="center f-wrap">
 				<img src="static/images/img-3_3.svg" alt="" class="footer__logo">

				<div class="footer__right">
					<ul class="footer__info">
						<li class="f-info__element">ООО "Арбат-Экспо"</li>
						<li class="f-info__element">По вопросам размещения рекламы: +7 (495) 690-70-78</li>
						<li class="f-info__element">Email: info@arbat-expo.ru</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="black__bg"></div>

    <script src="static/js/app.js"></script>


    <!-- Swiper JS -->
  	<!-- <script src="https://unpkg.com/swiper/js/swiper.js"></script> -->
  	<script src="static/js/swiper.min.js"></script>
</body>
</html>