<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

	<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
	<div class="wraper">
		
		<div class="container">
			{% include "layouts/top_menu.html" %}
		
			{% include "layouts/big_blue_line.html" %}

			<div class="center">
				<div class="content-white banks">
					<div class="content-list__short">

						{% for post in data %}
						<div class="list-short__block">
							<div class="list-short__img-block">
								<img src="{{ post.src }}" alt="" class="short__img">
							</div>

							<div class="short-content__wrap">
								<h4 class="short-content__title">{{ post.title }}</h4>
								<div class="short-content__info">
									<span class="info-time">{{ post.timetable }}</span>
									<span class="info-stage">{{ post.address }}</span>
								</div>
								<div class="short-content__text">{{ post.text }}</div>
							</div>
						</div>
						{% endfor %}

					</div>
				</div>
			</div>
		</div>



		{% include "layouts/footer.html" %}
	</div>

	<div class="black__bg"></div>

    <script src="static/js/app.js"></script>
</body>
</html>